<div class="container my-5">
  <div class="col-xl-8 offset-xl-2">
    <div class="row">
      <div *ngFor="let pokemon of pokemons; let i = index" class="col-md-6">
        <mat-card
          class="card text-center mb-3 bg-{{ getType(pokemon) }}"
          [routerLink]="['/pokemon', pokemon.name]"
        >
          <mat-card-title class="card-title">
            {{ pokemon.name | titlecase }}
          </mat-card-title>
          <span
            *ngFor="let type of pokemon.types"
            class="badge border rounded-pill me-1 bg-{{ getType(pokemon) }}"
          >
            {{ type.type.name | titlecase }}
          </span>
          <img
            mat-card-image
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
              pokemon.id
            }}.png"
            alt="..."
          />
        </mat-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <button class="btn btn-sm btn-secondary" (click)="loadMore()">
        <div
          class="spinner-border spinner-border-sm"
          role="status"
          *ngIf="loading"
        ></div>
        {{ loading ? "Loading..." : "Load More" }}
      </button>
    </div>
  </div>
</div>
