<div class="container-fluid">
  <!-- <div class="row">
    <div class="text-center p-5">
      <img
        src="../../../assets/images/pokegotta.png"
        class="img-responsive"
        alt=""
        style="max-width: 60%"
      />
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <input
        type="text"
        class="form-control search-bar"
        name="searchTerm"
        placeholder="Search by pokemon name"
        [(ngModel)]="searchTerm"
        (input)="search(searchTerm)"
      />
    </div>
  </div> -->

  <!--Grid row-->
  <div class="row d-flex justify-content-center">
    <!--Grid column-->
    <div class="col-md-12">
      <div class="text-center p-5">
        <img
          src="../../../assets/images/pokegotta.png"
          class="img-responsive"
          alt=""
          style="max-width: 50%"
        />
      </div>
    </div>

    <div class="col-md-12">
      <div class="text-center">
        <input
          type="text"
          class="form-control search-bar"
          name="searchTerm"
          placeholder="Search by pokemon name"
          [(ngModel)]="searchTerm"
          (input)="search(searchTerm)"
        />
      </div>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <div class="row">
    <div
      *ngFor="let pokemon of pokemons | searchFilter: searchTerm"
      class="col-md-6"
    >
      <mat-card
        class="card text-center mb-3 bg-{{ getType(pokemon) }}"
        [routerLink]="['/pokemon', pokemon.name]"
      >
        <mat-card-title class="card-title">
          {{ pokemon.name | titlecase }}
        </mat-card-title>

        <img
          mat-card-lg-image
          src="https://unpkg.com/pokeapi-sprites@2.0.2/sprites/pokemon/other/dream-world/{{
            pokemon.id
          }}.svg"
          alt="..."
        />

        <mat-card-footer>
          <div style="margin: 15px">
            <span
              *ngFor="let type of pokemon.types"
              class="badge border rounded-pill me-1 bg-{{ getType(pokemon) }}"
            >
              {{ type.type.name | titlecase }}
            </span>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm text-center">
    <button class="btn btn-sm btn-secondary" (click)="loadMore()">
      <div
        class="spinner-border spinner-border-sm"
        role="status"
        *ngIf="loading"
      ></div>
      {{ loading ? "Loading..." : "Load More" }}
    </button>
  </div>
</div>
